@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Nunito';
  font-size: 18px !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.star-container {
  display: flex;
}

.detail-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating-stars {
  font-size: 1.8em;
}

.stars-interactive i:hover {
  cursor: pointer;
}