@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Nunito';
  font-size: 18px !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.star-container {
  display: flex;
}

.detail-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating-stars {
  font-size: 1.8em;
}

.stars-interactive i:hover {
  cursor: pointer;
}

.global-rating {
  font-size: small;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 5px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/hero.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.background-img {
  background-image: url('/images/polygon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

