<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/game-controller.png" alt="Ayub Irawan" class="bg-light rounded-2 p-1 me-1" width="50">
            Game Trackr
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-3 mt-lg-0" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" id="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/library/index.html" id="library">Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/backlog/index.html" id="backlog">Backlog</a>
                </li>
            </ul>
            <form class="d-flex mt-3 search-form" role="search">
                <input name="query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-box">
                <button class="btn btn-primary search-submit" type="submit">Search</button>
                <button class="btn btn-primary d-flex align-items-center d-none searching-btn" type="button" disabled>
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Searching...
                </button>
            </form>
        </div>
    </div>
</nav>